body {
  font-family: Arial, sans-serif;
}

em {
    font-style: normal;
    font-weight: bold;
}

@media print {
    body {
          padding-left: 4em;
    }
    .noPrint {
        display: none;
    }
}

table {
    font-size: 13px;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 30px;
}

table th, table  td {
    border: 1px solid black;
    padding: 1px 4px 1px 4px;
}

table.Kopf th:after{
    content: ":"
}

.unit_tage:after {
    content: " Tage"
}

table.Liste th {
   text-transform: uppercase;
}

table.Liste thead {
   border-bottom: 4px double black;
}

table.Liste tbody td:first:after {
    content: "."
}

table.Fuss th, table.Fuss td {
    border: none;
}

.right {
    text-align: right;
}

.unit_stunden:after {
    content: " h"
}

.noPrint {
    color: blue;
    font-style: italic;
}
